{% extends 'home.html' %}
{% block title %}Your tasks{% endblock %}

{% block content %}

<h2>Hi, <b>{{ user.username }}</b>, your tasks:</h2> 
<span class="logout"><a href="{% url 'logout' %}">Logout</a></span>
<div class="col-md-12">
	<section class="task-list" data-last-undone="{{ first_order }}">
		{% for task in task_list %}
			{% if task.finish_time %}
			<div data-id="task{{ task.pk }}" data-order="{{ task.order }}" class="task finished">
			{% include 'done.html' %}
			</div>
			{% else %}
			<div data-id="task{{ task.pk }}" data-order="{{ task.order }}" class="task {% if forloop.counter0 == 0 %}active{% endif %}">
				<div class="task-head">
					<h3>{{ task.task.title }}</h3>
					
					<input disabled readonly id="checkbox{{ task.pk }}" class="dtl-checkbox" type="checkbox" name="">
					<label class="checklabel" for="checkbox{{ task.pk }}">Done</label>
					<span>{{ task.finish_time|date:"M d, Y"}}</span>
					<span class="dtl-icon glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
					<div class="description">{{ task.task.description }}</div>
				</div>
				
			</div>
			{% endif %}
		{% endfor %}
	</section>
</div>
<script type="text/javascript">
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}
	$(document).ready(function(){
		var order = $('.task-list').first().data('last-undone');
		if (order) {
			$('.task[data-order=' + order + ']').addClass('active');
			var box = $('.task[data-order=' + order + ']').find('.dtl-checkbox');
			box.attr('disabled', false);
			box.attr('readonly', false);
		}
	});
	$('.task').click(function(e){
		if(!$(e.target).hasClass('dtl-checkbox') && !$(e.target).hasClass('checklabel')){
			$(this).find('.description').slideToggle('fast', function(){
				var icon = $(this).parent().find('.dtl-icon');
				if($(this).is(':visible')){
					icon.removeClass('glyphicon-chevron-down');
					icon.addClass('glyphicon-chevron-up');
				} else {
					icon.removeClass('glyphicon-chevron-up');
					icon.addClass('glyphicon-chevron-down');
				}
			});

		};
	});

	$('.task').find('.dtl-checkbox').click(function(){
		var parentTask = $(this).parent().parent();
		var taskId = parentTask.data('id').slice(4);
		var dataToSend = JSON.stringify({task: taskId})
		$.ajax({
			type: 'post',
			url: '{% url "task_done_url" %}',
			data: dataToSend,
			success: function(data){
			    parentTask.fadeOut('fast', function(){
			    	parentTask.html(data.details);
			    	parentTask.addClass('finished')
			    	parentTask.fadeIn('fast');
			    	var nextTask = parentTask.next();
			    	nextTask.addClass('active');
			    	nextTask.find('.dtl-checkbox').attr('disabled', false);
			    	nextTask.find('.dtl-checkbox').attr('readonly', false);
			    });
			},
	        beforeSend: function (xhr, settings) {
	            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	        },
		});
	});

		
</script>
{% endblock %}

