<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <title>{% block title %}Django task list{% endblock %}</title>

    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="all"/>
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" media="all"/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-3.2.1.min.js"></script>
</head>

<body>
	<div class="container">

		<header>
			<div class="row">
				<div class="col-md-12">
					<div class="header">
						<div class="logo"></div>
						<h1>Django Task List</h1>
					</div>
				</div>
			</div>
		</header>
{% block content %}
		<div class="content">
			<a href="{% url 'task_list' %}">Перейти к списку задач</a>
		
		</div>
{% endblock %}
		<footer class="footer">
			<div class="row">
				<div class="col-md-12">
					made by kamirt
				</div>
			</div>
		</footer>

	</div>
</body>
</html>

