/*FONTS*/
@font-face {
  font-family: "FuturaFuturisLight";
  src: url("../fonts/FuturaFuturisLight.woff") format("woff"), url("../fonts/FuturaFuturisLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "newbaskervillec-italic";
  src: url("../fonts/newbaskervillec-bolditalic-webfont.woff") format("woff"), url("../fonts/newbaskervillec-bolditalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }



body {
	margin: 20px;
    background-color: #FCF7E8;
    font-family: "FuturaFuturisLight";
}
h1 {
	color: #714391;
    font-family: "newbaskervillec-italic";
}
h2	{
	color: #555555;
}
h3 {
	margin: 0;
	display: inline-block;
}
.header { 
	text-align: center; 
}
.logo {
    width: 210px;
    height: 210px;
    border: 7px solid #9AB676;
    border-radius: 105px;
    background-image: url('../flower1.jpg');
    background-size: cover;
    margin: auto;
}
.content {
	text-align: center;
	font-size: 16px;
}
.footer {
	background-color: #9AB676;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    padding: 50px;
    text-align: center;
    color: white;
}
.btn {
	background-color: #43918A;
    border: none;
}
.logout	{
    position: absolute;
    top: 50px;
}
.task {
	background-color: white;
    border: 1px solid #D7D7D7;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 2px;
    transition: 1s;
}
.dtl-icon {
    margin-left: 10px;
    font-size: 16px;
    float: right;
    line-height: 54px;
}

.dtl-checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}

.dtl-checkbox + label {
  cursor: pointer;
}

.dtl-checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.dtl-checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
}

.dtl-checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}

.dtl-checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s; 
}

.dtl-checkbox:checked + label:before {
  background: #9FD468;
}

.dtl-checkbox:checked + label:after {
  left: 26px;
}

.dtl-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}
.task-done {
    padding: 3px;
}
.active {
    background-color: #FEEFB7;
}
.finished {
  background-color: #DCE9CD;
}
.description {
  display: none;
}